@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations');
}

:root{
  --color-dark: #0f1115;
  --color-lightblue: #49FFE6;
}

html {
  font-family: 'Mona Sans';
}

.font-ibm{
  font-family: 'IBM Plex Mono', monospace;
}

.bg-dark{
  background-color: var(--color-dark);
}

.bg-lightblue{
  background-color: var(--color-lightblue);
}

.text-lightblue{
  color: var(--color-lightblue);
}

.my-container{
  @apply lg:w-[93vw] md:w-[92vw] w-[90vw] mx-auto
}

.font-mona{
  font-family: 'Mona Sans';
}


.btn-pri{
  @apply uppercase text-white flex items-center justify-center gap-2;
  background-color: #171A21;
  padding: 14px 32px;
  font-size: 15px;
  transition: all ease-in-out .3s;
}

.btn-pri:hover{
  background-color: #272c38;
}

.btn-sec{
  @apply uppercase text-black font-bold flex items-center justify-center gap-2;
  background-color: var(--color-lightblue);
  padding: 14px 32px;
  font-size: 16px;
  transition: all ease-in-out .3s;
}

.btn-sec:hover{
  background-color: #40c2b1;
}



/* =============navbar============== */
.nav-arrow{
  transition: transform ease-in-out .2s;
}

.nav-list:hover .nav-arrow{
  transform: rotate(180deg);
  color: var(--color-lightblue);
}

.dropdown{
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  cursor: pointer;
}

.nav-list:hover .dropdown{
  opacity: 1;
  visibility: visible;
}




/* ================banner============ */
.banner-img{
  transition: all linear .2s;
}

.banner-img{
  transform: translateY(0px);
}

/* ===========companies========= */
.companies{
  border-radius: 50% 50% 0 0 / 80% 80% 0 0;
}

.companies-overlay{
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background: linear-gradient(121deg, #40c2b1a6 -3.09%, #40c2b1 3.95%);
    filter: blur(20px); 
}

@media screen and (max-width:676px) {
  .companies{
    border-radius: 50% 50% 0 0 / 20% 20% 0 0;
  }
  
  .companies-overlay{
    border-radius: 50% 50% 0 0 / 30% 30% 0 0;
    background: linear-gradient(121deg, #40c2b1a6 -3.09%, #40c2b1 3.95%);
      filter: blur(10px); 
  }
}

@media screen and (max-width:900px) {
  .companies{
    border-radius: 50% 50% 0 0 / 25% 25% 0 0;
  }
  
  .companies-overlay{
    border-radius: 50% 50% 0 0 / 30% 30% 0 0;
    background: linear-gradient(121deg, #40c2b1a6 -3.09%, #40c2b1 3.95%);
      filter: blur(10px); 
  }
}